.clear {clear:both;}
.error {color:red;font-weight:bold;}

/****************** Button ***********************/
.button {
    border: 1px solid #acb3be;
    color:#333333;
    cursor:pointer;
    height:19px;
    margin-left:5px;
    padding: 0 4px 3px;
    background-color:#f6f6f6;
    background-image:-moz-linear-gradient(center top , #F6F6F6 10%, #D5D5D5 90%);
    background-repeat: repeat-x;
    border-radius:1px 1px 1px 1px;
    }
.button:hover {border: 1px solid #737f91;color:#000000;cursor:pointer;}
    
/************ progress bar ***************/    
    .visuallyhidden { display: none;}
    .wizard-progress {list-style: none;list-style-image: none;margin: 0;padding: 0;margin-top: 20px;float: left;white-space: nowrap;}
    .wizard-progress li {float: left;margin-right: 50px;text-align: center;position: relative;width: 100px;}
    .wizard-progress .step-name {display: table-cell;height: 32px;vertical-align: bottom;text-align: center;width: 100px;}
    .wizard-progress .step-name-wrapper {display: table-cell;height: 100%;vertical-align: bottom;}
    .wizard-progress .step-num {font-size: 14px;font-weight: bold;border: 3px solid #000;border-radius: 50%;width: 18px;display: inline-block;margin-top: 10px;}
    .wizard-progress .step-num:after {content: "";display: block;background: #000;height: 5px;width: 130px;position: absolute;bottom: 10px;left: 60px;}
    .wizard-progress li:last-of-type .step-num:after {display: none;}
    .wizard-progress .active-step .step-num {background-color: red;}
    .wizard-progress .finished-step .step-num {background-color: green;}
    

