<f:layout name="Default" />

<f:section name="content">
<f:be.container >

  <link href="{f:uri.resource(path:'Js/jquery-ui-1.10.4/css/overcast/jquery-ui-1.10.4.custom.css')}" rel="stylesheet">
  <link href="{f:uri.resource(path:'Css/style.css')}" rel="stylesheet">
  
  <script tpye="text/javascript" src="{f:uri.resource(path:'Js/jquery-1.8.3.min.js')}"></script>
  <script type="text/javascript">jQuery.noConflict();</script>
  <script tpye="text/javascript" src="{f:uri.resource(path:'Js/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.min.js')}"></script>
  <script tpye="text/javascript" src="{f:uri.resource(path:'Js/main.js')}"></script>
  

<h1>Import Excel Files</h1>

<f:flashMessages />
    

<form action="" method="POST" enctype="multipart/form-data">
    
    <ol class="wizard-progress clearfix">
	    <li class="finished-step">
	        <span class="step-name">Upload Excel</span>
	        <span class="visuallyhidden">Step </span><span class="step-num">1</span>
	    </li>
	    <li class="active-step">
	        <span class="step-name">Assign Fields</span>
	        <span class="visuallyhidden">Step </span><span class="step-num">2</span>
	    </li>
	    <li>
	        <span class="step-name">Import Preview</span>
	        <span class="visuallyhidden">Step </span><span class="step-num">3</span>
	    </li>
	    <li>
	        <span class="step-name">Import</span>
	        <span class="visuallyhidden">Step </span><span class="step-num">4</span>
	    </li>
	</ol>
	<div class="clear"></div><br />
	
	<input type="hidden" value="{table}" name="table" />
    <input type="hidden" value="{uploadfile}" name="uploadfile" />
    <f:link.action id="backButton" action="select" >&lt; Back</f:link.action> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
    <input type="submit" id="nextButton" value="Next &gt;">
    
    <div class="clear"></div><br />

    <table border="1">
        <tr>
            <th>Database Field</th>
            <th>Excel Field</th>
        </tr>
    <f:for each="{assignlist}" as="entry">
		<tr>
			<td>{entry.fieldname}</td>
			<td>
			    <select name="assignment[{entry.fieldname}]">
			    <f:for each="{entry.selectfield}" key="key" as="option">
			             <option value="{option.value}"
			            	<f:if condition="{option.selected} > 0">
							   selected="selected"
							</f:if>
			             >{option.title}</option>
			    </f:for>
			    </select>
			</td>
		</tr>
    </f:for>
    </table>
    
    <script>
        jQuery("#backButton").button();
        jQuery("#nextButton").button();
    </script>

</form>

</f:be.container>
</f:section>

